body
{
  background-color: #424242;
  color: white;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 18px;
}
.editor
{
  width: 95%;
  height: auto;
}
.tools
{
  float: left;
  width: 30%;
  text-align: left;
}
.img
{
  width: 65%;
  height: auto;
  padding-left: 10px;
}
button
{
  width: 120px;
  background-color: #148D82;
  color: white;
  padding: 13px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
input[type="file"]
{
  color: white;
  font-size: 14px;
  background-color: #148D82;
  font-family: 'Shadows Into Light Two', cursive;
  border-radius: 4px;
  padding: 10px;
  margin-top: 5px;
}
